<div class="border border-surface rounded-2xl p-5">
    <app-generic-table [data]="tableData" [config]="tableConfig" title="User" [showActions]="true" [loading]="loading" [activeOnes]="'0 User'"
     (onNew)="handleNewUpdateUser()" (configActionClicked)="handleConfigActionClick($event)"  [expandLoading]="expandLoading"
     [expandedRows]="expandedRows" (rowExpand)="onRowExpand($event)"
     (rowCollapse)="onRowCollapse($event)">
    </app-generic-table>
</div>


<ng-template #createUpdateUserContent>
    <h3 class="text-xl font-semibold mb-4 text-muted-color-emphasis">Create New User</h3>
    <app-generic-form [fields]="userFormFields()" [initialData]="initialData" (formSubmit)="handleFormSubmit($event)"></app-generic-form>
</ng-template>